* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: #8d8d8d;
  background-color: #faf4f2;
}
.clear {
  clear: both;
}
/* header  */
.header {
  background-color: #f8e1db;
  padding: 10px;
}
.header__content {
  width: 90%;
  margin: 0 auto;
}
.header ul {
  list-style: none;
  margin-top: 10px;
}
.header li {
  display: inline-block;
  margin-right: 40px;
}
.header a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.header .active a {
  color: #e76f51;
}
/* banner  */
.banner {
  background-image: url(./Img/BG.png);
  height: 85vh;
  background-position: center;
  background-size: cover;
}
/* activities  */
.activities {
  text-align: center;
  padding: 80px 0;
}
.activities__title {
  font-size: 24px;
  padding-bottom: 28px;
}
.activities__item {
  float: left;
  width: 25%;
  padding: 15px;
}
.activities__card {
  background-color: white;
  padding: 50px;
  border-radius: 16px;
}
.activities__card img {
  width: 100%;
  border-radius: 16px;
}
.activities__img {
  position: relative;
}
.activities__love {
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  color: #e76f51;
  cursor: pointer;
  font-weight: bold;
}
.activities__love img {
  width: 80%;
}
.activities__detail h3 {
  color: #3b3735;
  font-size: 20px;
  margin: 15px;
}
.activities__detail p {
  font-size: 18px;
  line-height: 28px;
  margin: 15px;
}
.activities__detail button {
  padding: 13px 54px;
  border-radius: 25px;
  color: #8d8d8d;
  border: transparent;
  background-color: rgba(141, 141, 141, 0.2);
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.25s linear;
}
.activities__all {
  color: #e76f51;
  border: 1px solid #e76f51;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 25px;
  padding: 13px 71px;
  margin: 40px 0 0;
  background-color: transparent;
  transition: 0.25s linear;
}
.activities__detail button:hover,
.activities__all:hover {
  background-color: #e76f51;
  color: white;
}
/* contact */
.contact {
  background-color: #f8e1db;
  border-radius: 0 25px 25px 0;
  margin-bottom: 100px;
}
.contact__left,
.contact__right {
  float: left;
  width: 50%;
  padding: 20px 60px;
}
.contact__left {
  background: url(./Img/mask.png);
  background-size: cover;
  background-position: center;
}
.contact__right {
  padding-top: 70px;
}
.contact__right p {
  margin: 12px 0px 30px;
}
.contact__right h3 {
  margin-bottom: 21px;
}
.contact__app,
.contact__us {
  float: left;
  width: 50%;
}
.contact__us i {
  color: #e76f51;
  font-size: 25px;
  margin-right: 10px;
}
/* FOOTER  */
.footer {
  background-color: #f8e1db;
  border-radius: 100px 100px 0 0;
  padding: 100px 30px;
  color: #3b3735;
}
.footer h3 {
  font-size: 18px;
  margin-bottom: 21px;
}
.footer__about {
  float: left;
  width: 40%;
  line-height: 28px;
  padding: 0 20px;
}
.footer__list {
  float: left;
  width: 60%;
  padding: 0 20px;
}
.footer__nav {
  float: left;
  width: 33.33%;
}
.footer__nav li {
  list-style: none;
  margin-bottom: 12px;
}
.footer__nav a {
  text-decoration: none;
  color: #3b3735;
}
.footer_copyright {
  text-align: center;
  padding-top: 30px;
}
